# Temp, logs & reports
logs
*.log
*.dat
reports
coverage
selenium
client
app
demo

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules
bower_components

# Source control
.svn

# Editors
*~
\#*#
.#*
.*.swp
## Sublime
sublime-*
