# Logs & reports
logs
*.log
*.dat
reports
coverage

# Operating systems
## Mac OS X
.DS_Store
## Windows
Thumbs.db

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
node_modules

# Source control
.svn

# Editors
*~
\#*#
.#*
.*.swp
## Sublime
sublime-*
